<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
		<small>E.g. Jono's Birthday game</small>		
  </p>
  <p>
    <%= f.label :max_rounds, "Play to" %><br />
    <%= f.text_field :max_rounds %><br />
		<small>The number of rounds to play to before switching the type.<br> E.g. Take 3 goes to Give 1 when you are playing to 3.</small>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>