<h1>New card</h1>
	<% form_for(@card) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :name, "Text" %><br />
	    <%= f.text_field :name %>
	  </p>
		<small>E.g. Everybody drinks once</small>
	  <p>
	    <%= f.label :image %><br />
	    <%= f.text_field :image %>
	  </p>
		<small>E.g. http://icanhascheezburger.files.wordpress.com/2007/12/funny-pictures-lol-squid.jpg</small>
		<% if current_user.is_admin? %>
			<p>
				<%= f.label :type %>
				<%= f.select :card_type, ["normal", "special"] %>
			</p>
		<% else %>
			</p>
				<%= f.hidden_field :card_type, :value => "special" %>
		  <p>
		<% end %>
		
	  <p>
	    <%= f.submit 'Update' %>
	  </p>
	<% end %>

	<%= link_to 'Back', cards_path %>