<h1>New card</h1>
<% if current_user.is_admin? %>
	<% form_for(@card) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :name, "Text" %><br />
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :image %><br />
	    <%= f.text_field :image %>
	  </p>
		<p>
			<%= f.label :type %>
			<%= f.select :card_type, ["normal", "special"] %>
		</p>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>

	<%= link_to 'Back', cards_path %>
<% else %>
	<% form_for(@card) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :name, "Text" %><br />
	    <%= f.text_field :name %><br />
			<small>E.g. Everybody drinks once</small>
	
	  </p>
			<%= f.hidden_field :card_type, :value => "special" %>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>

	<%= link_to 'Back', cards_path %>
<% end %>

