<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Give and Take</title>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'jquery.min', 'naked_password.min', 'application' %>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="page">

      <div id="content">
				<% link_to root_url do %>
        <div id="header">
          <h1>Give ŉ Take</h1>
          <h2>The game where everybody wins!</h2>
        </div>
				<% end -%>
				<div id="nav">
					<% if user_signed_in? %>
					    Signed in as <%= current_user.email %>. Not you?
					    <%= link_to "Sign out", destroy_user_session_path %>
					  <% else %>
					    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
					  <% end %>	
				</div>
				<div class="clear"></div>        
        <div id="getting-started">
          <%= yield %>
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>